@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

/* 
body{
  font-family: "Roboto", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Lato", sans-serif;
} */

.bg-custom {
  background: url('./Assets/cloud-storage-background.jpg');
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}

@media (min-width: 1280px) {
  .group:hover .absolute {
    display: block;
  }

  .absolute {
    display: none;
  }
}

/* Fix for 768px white space issue */
@media (max-width: 1023px) {

  .container {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }
}